[Desktop Entry]
Version=1.4
Type=Application
Name=Space Cadet Pinball
Comment=3D Pinball for Windows - Space Cadet (Linux port)
Icon=/usr/lib/spacecadetpinball/Icon_1.ico
TryExec=SpaceCadetPinball
Exec=SpaceCadetPinball
Categories=Game;

